<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>Güterstrasse 133, CH-4002 Basel</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "+41613678700" %></p>

    <h3>Email</h3>

    <p><a href="mailto:info@simeno.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2693.194162202862!2d7.587405415870049!3d47.54454970025524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4791b84fc9f0c5d7%3A0xe866bed7fa6c2a4e!2sG%C3%BCterstrasse+144%2C+4053+Basel!5e0!3m2!1sen!2sch!4v1538663094181" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>