<div class="inner cover">
	<h1 class="cover-heading">Welcome</h1>
	<p class="lead">"We build our computer (systems) the way we build our cities: over time, without a plan, on top of ruins." - Ellen Ullman it your own.</p>
	<p class="lead">"What one programmer can do in one month, two programmers can do in two months." - Fred Brooks</p>
	<p class="lead">"Rules of Optimization:
Rule 1: Don't do it.
Rule 2 (for experts only): Don't do it yet. ” - Michael A. Jackson</p>
	<p class="lead">"A primary cause of complexity is that software vendors uncritically adopt almost any feature that users want."- Niklaus Wirth</p>
	<p class="lead">
		<%=link_to "Learn more", about_me_path, class: 'btn btn-lg btn-secondary' %>
	</p>
</div>


